<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Gallery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.5.0/angular-file-upload.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  
  <body ng-app="studis">
    <ui-view></ui-view>


    <!--home.html -->
    <script type="text/ng-template" id="/home.html">

    <div class="tile">
      <div class="tile-header">
        <h2 style="color: white; opacity: .85; font-size: 2.8rem; display: flex; justify-content: center; align-items: center; height: 100%;">SIGN IN</h2>
      </div>
      <div class="tile-body">
        <form id="form">
          <label class="form-input">
            <i class="material-icons">person</i>
            <input type="text" autofocus="true" ng-model="elektronska_posta" required />
            <span class="label">Username</span>
            <span class="underline"></span>
          </label>

          <label class="form-input">
            <i class="material-icons">lock</i>
            <input type="password" ng-model="geslo" required />
            <span class="label">Password</span>
            <span class="underline"></span>
          </label>

          <div class="submit-container clearfix" style="margin-top: 2rem;">
            <div id="submit" ng-click="login_funkcija()" role="button" type="button" class="btn btn-irenic" style="float: right" tabindex="0">
              <span>SIGN IN</span>
            </div>
          </div>
      </div>
      </form>
    </div>
    </div>
  </script>
  <!--home.html -->

  <!--galerije.html -->
  <script type="text/ng-template" id="/galerije.html">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Galerija</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/#!/galerije">Domov</a>
          </li>
          <li>
            <a>prijavljen kot: {{trenutni_uporabnik}}</a>
          </li>
          <li>
            <a ng-click="logoutFunkcija()">logout</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
          <input class="form-control" type="text" ng-model="ime_nove" placeholder="ime nove galerije"/>
          <button class="btn btn-unique btn-block" ng-click="nova_galerija()">Dodaj novo galerijo</button><br>
          <p>{{error_nova_galerija}}</p>
          <h1 align="center">Vse moje galerije</h1><br>

          <div class="row">
            <div ng-repeat="galerija in galerije">
              <div>
                <div class="col-xs-6 col-md-6" style="border:1px solid black;">
                  <p style="text-align:center"><a ng-href="/#!/galerija/{{galerija.ime}}">
                    <img ng-src="{{galerija.vseSlike[0]}}" style="height:20vh;width:20vw;"></img>
                  </a>
                </p>
                <a ng-href="/#!/galerija/{{galerija.ime}}" class="btn btn-default btn-block" role="button">{{galerija.ime}}</a>
                <hr>
                <button class="btn btn-unique btn-block" ng-click="odstrani_galerijo(galerija.ime,$index)">zbriši galerijo</button>
              </div>

            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </script>
  <!--galerije.html -->

  <!--prikazslik.html -->
  <script type="text/ng-template" id="/prikazslik.html">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">        
        <a class="navbar-brand">Galerija</a>
        
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/#!/galerije">Domov</a>
          </li>
          <li>
            <a>prijavljen kot: {{trenutni_uporabnik}}</a>
          </li>
          <li>
            <a ng-click="logoutFunkcija()">logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">

        <h1 align="center">Naloži novo sliko</h1>
        <br>

        <form method="post" enctype="multipart/form-data" action="{{'/shrani_sliko_v_galerijo/'+ime_galerije}}">
          <input ng-hide="true" class="form-control" type="text" name="title" placeholder="opis slike(to še ne dela)" />

          <label class="btn btn-unique btn-block" for="my-file-selector">
            <input name="upl" id="my-file-selector" type="file" style="display:none" onchange="$('#upload-file-info').html(this.files[0].name)"
              required> Izberi sliko
          </label>
          <label id="upload-file-info"></label>
          <input type="submit" class="form-control"/>
        </form><br><br>

        <h1 align="center">Slike v galeriji {{ime_galerije}}</h1><br>
          <div class="row">
            <div class="col-xs-6 col-md-4 thumbnail" ng-repeat="x in slike_galerije track by $index">
              <img ng-src="{{x}}" ng-click="odpri_vecjo_sliko(x)"></img>
              <label>ime slike</label>
              <button style="float:right;" ng-click="zbrisi_sliko(ime_galerije, x, $index)">X</button>

                <!--MODAL WINDOW--> 
                <script type="text/ng-template" id="/myModalContent.html">
                  <img ng-src="{{povecana_slika}}" style="height:100%;width:100%;"></img>
                  <h3>Ime slike: {{povecana_slika}}</h3>
                </script>
            </div><br>
          </div>
          <br>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>


  </script>
  <!--prikazslik.html -->

</body>

</html>