<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Gallery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.5.0/angular-file-upload.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload-shim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload.js"></script>


  </head>
  
  <body ng-app="studis" style="background-color:powderblue;">
    

    <ui-view></ui-view>


    <!--home.html -->
    <script type="text/ng-template" id="/home.html">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">Galerija</a>
          </div>
          <ul ng-show="vpisanStudent" class="nav navbar-nav">
            <li class="active"><a href="#!/home">Home</a></li>
            <li><a>pozdravljen/a: {{trenutni_uporabnik}}</a></li>
            <li><a ng-click="logoutFunkcija()">logout</a></li>
          </ul>
        </div>
      </nav>



      <div ng-show="vpisanStudent">
        <h3 align="center">MOJA PRVA GALERIJA</h3>
        <br><br><br>
        <div>
          <!--<img src="1.jpeg" alt="rozica">
          <IMG ng-src="{{firstUpl}}"/>
          <IMG src="2.jpg"></IMG>-->
        </div>

        <div slide images='images'></div>


        <br><br>

        <form method="post" enctype="multipart/form-data" action="/profile">        
          <input type="text" name="title" placeholder="title"/>        
          <input type="file" name="upl"/>
          <input type="submit"/>
        </form>


        
      </div>

      <div ng-hide="vpisanStudent"><!--login/logout, trenutni uporabnik podatki z jwt zetoni-->
        <div class="panel panel-primary" style="height: 40vh; width: 50vw; margin:0 auto; padding-top: 8vh;">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="elektronska_posta" placeholder="uporabniško ime">
          </div>
          <div class="form-group">
            <input ng-model="geslo" placeholder="geslo" type="password" class="form-control">
          </div>
          <button class="btn btn-success btn-block" ng-click="login_funkcija()">LOGIN</button><br><br>

          <div ng-show="pokazi_napako_login" class="alert alert-danger">
            <p ng-bind="login_status"></p>
          </div>
        </div>
      </div>      
    </script>
    <!--home.html -->


    <script type="text/ng-template" id="/slide.html">
      <div class="slider">
      
      <div class="row">
        <div class="col-sm-6"><button ng-click="prev()" class="btn btn-success btn-block"><-</button></div>
        <div class="col-sm-6"><button ng-click="next()" class="btn btn-success btn-block">-></button></div>
      </div>

       <div class="row">         

          <div style="text-align: center" class="slide col-md-12" ng-repeat="image in images" ng-show="image.visible">
            <img  ng-src="{{image.src}}" ng-if="image.type == 'image'"/>
            <p align="middle">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
          </div>
        
      </div>


        
        
    </div>


    </script>
    
  </body>
</html>