body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
	height: 60vh;
	width: 60vh;
	border-radius: 30%;

	border: 1px solid #ddd;
	padding: 5px;

	border:10px solid #021a40;

}


